/* Color To Use */
/* Greeen Color */
/* 769656 */
/* Cream Color */
/* EEEED2 */

.html{
    background-color: cornflowerblue;
    overflow: hidden;
}
.square{
    background-color: beige;
    height:70px;
    width:70px;
}

.square img{
    width:100%;
    height:100%;

}
.dad-container{
    background-color: cornflowerblue;
    display: -ms-inline-grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height:100vh;
}


.zad-container{
    display:flex;
    justify-content: center;
    
}

.main-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-height:560px;
    max-width:560px;
    border-radius: 5px;
    overflow:hidden;
}
@media only screen and (max-width: 936px){
    .main-container{
        display:flex;
        max-width: 450px;
        max-height:450px;
    }

}
@media only screen and (max-width: 936px){
    .dad-container{
        grid-template-columns:1fr;
    }

}
@media only screen and (max-width: 936px){
    .square{
        max-width: 50px;
        max-height:50px;
    }
}
@media only screen and (max-width: 400px){
    .main-container{
        display:flex;
        max-width: 310px;
        max-height:310px;
    }

}
@media only screen and (max-width: 400px){
    .dad-container{
        grid-template-columns:1fr;
    }

}
@media only screen and (max-width: 400px){
    .square{
        max-width: 37px;
        max-height:37px;
    }
}
.files:nth-of-type(odd) .square:nth-of-type(even){
    background-color:saddlebrown;
}
.files:nth-of-type(even) .square:nth-of-type(odd){
    background-color:saddlebrown;
}
.form{
    margin-top:1rem;
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 380px){
    .text1{
        font-size: 1rem;
        margin-right: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
.userInput{
    max-height: 2rem;
    max-width:6rem;
}


.text1{
    font-size: 1.5rem;
    margin-right: 49px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text2{
    font-size: 1.5rem;
    margin-right:9px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.submit{
    margin-top: 1rem;
    font-size:1.2rem;
}
.submit:hover{
    background-color:burlywood;
}